<h1><%=@planet.name%></h1>
<p><img src="<%=@planet.image_url%>" alt=""></p>
<p><%=@planet.facts%></p>
<p><a href="<%=@planet.link%>" target="_blank" >read more...</a></p>
<p><a href="/planets/<%=@planet.id%>/edit">edit</a></p>


